* {
    box-sizing: border-box;
}

body {
    background-color: rgb(3, 4, 17);
    color: azure;
}

.ham {
    width: 3rem;
}

.main-content {
    /* display: flex; */
    text-align: center;
    margin: 0 auto;
}

.biography {
    font-family: Merriweather, serif !important;
    font-weight: 400;
    font-size: 4.5rem;
}

.color {
    color: #f7d7c8 !important;
}

.profile-img {
    border-radius: 50%;
    height: 18em;
    width: 20rem;
}

.socialImages {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.social-icon {
    margin: auto 2rem auto 2rem;
    height: 50px;
}

.article h2 {
    margin: auto 10% auto 10%;
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    word-wrap: break-word;
    position: relative;
    font-weight: 300;
    line-height: 1.8;
    width: 739px;
    margin: 20px auto 0;
}

.weDesign {
    font-weight: 700;
    font-size: 4rem;
    margin: 0;
    text-align: left;
    font-family: Merriweather, serif !important;
    line-height: 1.1;
    margin: auto 2rem auto 2rem;
}

.sample {
    margin: 2rem;
    margin-bottom: 0;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: left;
    width: 10rem;
}

.row {
    display: flex;
}

.chat {
    display: flex;
    margin: 2rem 0 0 0;
}

.one {
    font-family: 'Playfair Display', serif !important;
    font-size: 5rem;
    font-weight: 700;
}

h5 {
    font-size: 3rem;
    line-height: 1.6;
    width: 795px;
    font-weight: 700;
    margin: 51px auto 0;
    font-family: Merriweather, serif !important;
    color: #f7d7c8 !important;
}

hr {
    width: 50rem;
}

.principal {
    line-height: 2.3rem;
    text-align: left;
}

.col5 {
    width: 50%;
    margin: 5rem auto 5rem;
}

.portfolio-img {
    width: 33%;
    /* margin: 2rem 2re; */
    position: relative;
}

.portfolio-img2 {
    width: 33%;
    margin: auto 2rem;
    position: relative;
}

.portfolio-img img,
.portfolio-img2 img {
    width: 100%;
    border-radius: 2rem;
}

.learn {
    display: flex;
    justify-content: center;
    border-color: blanchedalmond;
}

h3 {
    border-color: aliceblue;
    border-style: solid;
    margin: 2rem 20%;
    padding: 2rem;
    font-size: 2.2rem;
}

.dwelling {
    font-family: Ubuntu, sans-serif !important;
    margin: 0 2rem 0 1rem;
    text-align: left;
}

.infosec {
    margin: 0;
    font-size: 2.2rem;
    font-family: Ubuntu, sans-serif !important;
}

.contactRow {
    display: flex;
    justify-content: center;
}

p {
    margin: 1rem;
    font-size: 1.5rem;
    font-family: Ubuntu, sans-serif !important;
}